.btn-custom, .btn-home {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid black; /* Black bezel */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  
}

.btn-home {
  margin-bottom: 20px; /* Add space between home button and other buttons */
}

.btn-custom:hover, .btn-home:hover {
  background-color: rgba(0, 0, 0, 0.6); /* Darken the background on hover */
  transform: translateY(-3px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.btn-custom:active, .btn-home:active {
  transform: translateY(0);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-text {
  position: absolute;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  opacity: 0; /* Hide text by default */
  transition: opacity 0.3s;
}

.btn-custom:hover .btn-text, .btn-home:hover .btn-text {
  opacity: 1; /* Show text on hover */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.custom-button-size {
  width: 183px; /* Smaller width for home button */
  height: 75px; /* Smaller height for home button */
  margin-bottom: 20px; /* Add space between home button and other buttons */
}